header {
    background-color: #ffffff;
    border: 3px solid #cccccc;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    }
    h1 {
        background-color: #4aaaa5; 
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    ul {
        align-items: center;
        justify-content: space-around;
        display: flex;
        padding: 0;
    }
        li {
            list-style: none;
            float: center;
            align-items: center;
            margin-left: 50px;
            padding-top: 10px;
        }
            a {
                text-decoration: inherit;
                color: #cccccc;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("leaves-pattern.png");
}
    .about {
        border: 1px solid #cccccc;
        background-color: #ffffff;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        }
        h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 5%;
        }
        p {
            text-align: left;
            float: right;
        }
        .bio {
            margin: 5%;
            overflow: auto;

        }